@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is styling for main home page */
.index{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main{
    /* background-image: url("/static/back.webp");
    background-size: cover;
    height: 695px; */
    position: relative !important;
    width: 100% !important;
    height: 100vh !important; 
    overflow: hidden !important;
    background-size: cover !important;
}
.background-video{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    z-index: -1 !important;
    width: 100% !important;
    object-fit: cover !important;
    z-index: -1 !important;
    height: 100vh !important;
}
nav{
    background-color: #2c2c2c;
}
.footer{
    background-color: #2c2c2c;
}
@media(min-width: 100px) and (max-width: 600px){
    .main{
        /* background-image: url("/static/back.webp");
        background-size: cover;
        height: 695px; */
        position: absolute !important;
        width: 100% !important;
        height: 200vh !important; 
        overflow: hidden !important;
    }
    .background-video{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        z-index: -1 !important;
        width: 100% !important;
        object-fit: cover !important;
        z-index: -1 !important;
        height: 200vh !important;
    }
.column{
    display: flex;
    flex-direction: column;
    /* background-image: url("/static/back.webp");
    background-size: cover; */
}
.content{
    width: 330px !important;
    height: auto !important;
}
.algo{
   font-size: 50px !important ;
     }
.teammembers{
        font-size: 20px;
     }
}
@media(min-width: 600px) and (max-width: 1200px){
    .main{
        position: relative !important;
        width: 100% !important;
        height: 150vh !important; 
        overflow: hidden !important;
        background-size: cover !important;
    }
    .background-video{
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        z-index: -1 !important;
        width: 100% !important;
        object-fit: cover !important;
        z-index: -1 !important;
        height: 150vh !important;
    }
    .column{
        display: flex;
        flex-direction: column;
        /* background-image: url("/static/back.webp");
        background-size: cover; */
    }
    .content{
        width: 600px !important;
        height: auto !important;
    }
    .algo{
       font-size: 50px !important;
         }
    }
    .dropdown{
        background-color: rgba(22, 21, 21,0.9);
    }
    /This is styling for contact page/
    .contact{
        background-image: url("/static/back.webp");
        background-size: cover;
    }
    .infodiv{
        background-color: rgba(226, 222, 222, 0.2);
    }
    @media(min-width: 100px) and (max-width: 600px){
        .contact{
            background-image: url("/static/back.webp");
            background-size: unset;
        }
       .contactus{
        font-size: 25px !important;
       }
       .images{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
       }
       .members{
        width: 300px !important;
        height: 280;
       }
       .first{
        display: flex;
        flex-direction: column;
       }
       .second{
        display: flex;
        flex-direction: column;
       }
       .contactname{
        display: contents !important;
        text-align: center !important;
       }
       .infodiv{
        display: none !important;
       }
    }
    @media(min-width: 600px) and (max-width: 1200px){
        .contact{
            background-image: url("/static/back.webp");
            background-size: unset;
        }
       .contactus{
        font-size: 50px !important;
       }
       .images{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
       }
       .membersimage{
        width: 800px;
        height: auto;
       }
       .first{
        display: flex;
        flex-direction: column;
       }
       .second{
        display: flex;
        flex-direction: column;
       }
       .contactname{
        display: contents !important;
        text-align: center !important;
       }
       .contactname{
        display: contents !important;
        text-align: center !important;
       }
       .infodiv{
        display: none !important;
       }
    }
    @media(min-width: 1200px) and (max-width: 1500px){
        .linkedinprofile{
            font-size: 12px;
        }
    }
    /* This is styling for login page */
    .login-body{
        position: relative !important;
        width: 100% !important;
        height: 150vh !important; 
        overflow: hidden !important;
        background-size: cover !important;
    }
    .loginhead{
        background-color: rgba(22, 21, 21,0.5);
        height: 35rem;
        width: 40rem;
    }
    .input{
        background-color: #161515;
    }
    @media(min-width: 100px) and (max-width: 800px){
        .loginhead{
            width: 22rem !important;
            margin-left: 1rem !important;
        }
        .headings{
            font-size: 1.75rem !important;
        }
        .input{
            width: 18rem !important;           
        }
        .inputdiv{
            margin-left: 1.5rem !important;
        }
        .loginbtn{
            width: 18rem !important;
        }
        .rememberme{
            margin-left: 5rem;
        }
        .createacc{
            padding-right: 4rem !important;
        }
    }
/* This is styling for Register page */

.register-body{
    position: relative !important;
        width: 100% !important;
        height: 150vh !important; 
        overflow: hidden !important;
        background-size: cover !important;
}
.registerdiv{
    background-color: rgba(22, 21, 21,0.5);
    height: 38.3rem;
    width: 40rem;
}
.input{
    background-color: rgba(22, 21, 21,0.8);
}
@media(min-width: 100px) and (max-width: 800px){
    .register-body{
        position: relative !important;
            width: 100% !important;
            height: 150vh !important; 
            overflow: hidden !important;
            background-size: cover !important;
    }
    .registerdiv{
        width: 25rem !important;
        height: 41rem !important;
    }
    .registerinput{
        margin-left: 4rem !important;
    }
    .namediv{
        width: 8.5rem !important;
    }
    .registerbtn{
        margin-left: 3rem !important;
        width: 20rem !important;
    }
}

/* This is styling for Profile */
.profile-body{
        position: relative !important;
            width: 100% !important;
            height: 150vh !important; 
            overflow: hidden !important;
            background-size: cover !important;
}
.profilediv{
    background-color: rgba(22, 21, 21,0.8);
}
.profileinput{
    background-color: rgba(22, 21, 21,0.8);
}
.inputedit{
    background-color: #161515;
}

@media(min-width: 100px) and (max-width: 700px){
    .editdiv{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
    .profilediv{
        width: 23.5rem !important;
    }
    .profile{
        display: flex;
        flex-direction: column !important;
    }
    .inputedit{
        width: 20.5rem !important;
    }
    .editinput{
        width: 9.5rem !important;
    }
}
@media(min-width: 700px) and (max-width: 1200px){
    .editdiv{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
    .profilediv{
        width: 40rem !important;
    }
    .profile{
        display: flex;
        flex-direction: column !important;
    }
    .inputedit{
        width: 35rem !important;
    }
    .editinput{
        width: 16.6rem !important;
    }
}
@media(min-width: 100px) and (max-width: 700px){
    .yourprofile{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
}
@media(min-width: 700px) and (max-width: 1200px){
    .yourprofile{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
}
/Typing test animation/
.typing-container{
display: inline-block;
max-width: 100%;
}
.typing{
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 8s steps(40,end) infinite;
}
@keyframes typing{
0%{
  width: 0%;
  border-right: 2px solid white;
}
20%{
  width: 100%;
  border-right: transparent; 
}
70%{
  width: 100%;
  border-right: transparent;
}
100%{
  width: 0%;
  border-right: 2px solid white;
}
}
@media(min-width: 100px) and (max-width: 800px){
    .typing-container{
        display: flex;
        justify-content: center;
        font-size: 1rem !important;
    }
}
/* Edited by Sayman for sort.html*/
.mess{
    color: aliceblue;
}
.extended-underline {
    border-bottom: 4px solid white; /* Underline style */
    display: inline-block;
    width: 20rem;
  }
/* Styling for sorting visualization */
.sortinput{
    background-color: rgba(254, 252, 252, 0.8);
}
@keyframes current{
    0% {
        transform: translateY(0);
      }
    30%{
        transform: translate(0,-70px);
    }
    60%{
        transform: translate(80px,-70px);
    }
    100%{
        transform: translate(80px,0px);
    }
}
@keyframes swap{
    0% {
        transform: translateY(0);
      }
      30%{
        transform: translate(0px, 70px);
      }
      60%{
        transform: translate(-80px, 70px);
      }
      100%{
        transform: translate(-80px, 0px);
      }
}
/* This is styling for chatroom */
.chatroom{
    background-image: url("/static/back.webp");
    
}
.chatinput{
    background-color: #161515;
}
/* This is styling for stack_visualizer */
.stack-body{
    position: relative !important;
        width: 100% !important;
        height: 150vh !important; 
        overflow: hidden !important;
}
.stackinput{
    background-color: #161515;
}
.stack-container{
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.stack-item{
    background-color: rgba(22, 21, 21,0.5);
}
/*This is styling for Queue page */
.queue-select{
    background-color: #161515;
}