<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Conatct Info</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="contact">
    <nav class="flex items-center justify-between px-2 h-10">
        <a class="flex text-xl font-serif text-white italic" href="index.html">AlgoVisualizer</a>
        <a href="#">
            <img class="profile h-8" src="profile.png" alt="">
        </a>
    </nav>
    <div class="text-white text-5xl text-center italic underline contactus pt-5 pb-10">Contact Us</div>
    <div class="details text-center pb-10">
        <div class="text-white text-xl font-serif py-1"> <a class="text-xl text-red-500 " href="#">E-mail:</a>
            sampleemail@gmail.com</div>
        <div class="text-white text-xl font-serif py-1"> <a class="text-xl text-red-500 " href="#">Phone No. :</a>
            0761-XXXX45</div>
        <div class="text-white text-xl font-serif py-1"> <a class="text-xl text-red-500 " href="#">Address:</a> Gyan
            Ganga Institute Of Technology And Sciences, Jabalpur</div>
    </div>
    <div class="text-white text-center font-serif italic text-3xl underline teammembers">MEMBERS OF TEAM VASILIADES
    </div>
    <div class="images my-5">
        <div class="flex first">
            <div class="text-white mx-10 my-10"><img class="members rounded-xl w-72 h-80" src="sayman.jpg" alt="">
                <p class="font-serif pb-5 text-center">SAYMAN LAL</p>
            </div>
            <div class="text-white mx-10 my-10"><img class="members rounded-xl w-72 h-80" src="kaustubh.jpg" alt="">
                <p class="font-serif pb-5 text-center">KAUSTUBH SEN</p>
            </div>
            <div class="text-white mx-10 my-10"><img class="members rounded-xl w-72 h-80" src="utkarsh.jpg" alt="">
                <p class="font-serif pb-5 text-center">UTKARSH KUSHWAHA</p>
            </div>
        </div>
        <div class="flex justify-end second">
            <div class="text-white mx-10 my-10"><img class="members rounded-xl w-72 h-80" src="praveen.jpg" alt="">
                <p class="font-serif pb-5 text-center">PRAVEEN RAJAK</p>
            </div>
            <div class="text-white mx-10 my-10"><img class="members rounded-xl w-72 h-80" src="yash.jpg" alt="">
                <p class="font-serif pb-5 text-center">YASH NAMDEO</p>
            </div>
            <div class="text-white mx-10 my-10"><img class="members rounded-xl w-72 h-80" src="yash.jpg" alt="">
                <p class="font-serif pb-5 text-center">UTKARSH</p>
            </div>
        </div>
    </div>
</body>

</html>