<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Algo Visualizer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black">
    <div class="main">
        <nav class="flex items-center justify-between px-2 h-10">
            <a class="flex text-xl font-serif text-white italic" href="index.html">AlgoVisualizer</a>
            <a href="#">
                <img class="profile h-8" src="static/profile.png" alt="">
            </a>
        </nav>
        <div class="algo flex justify-center text-white font-serif text-8xl py-10">AlgoVisualizer</div>
        <div class="column flex justify-around items-center ">
            <div class="content text-2xl text-black w-96 h-96 mt-10 flex-col justify-center bg-white rounded-md">
                <h2 class="flex justify-center font-serif hover:underline cursor-pointer text-red-600 font-bold italic">
                    Array
                </h2>
                <p class="text-lg py-6 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
                    enim beatae
                    nemo officiis,
                    veritatis repudiandae doloremque obcaecati minus libero delectus, suscipit a, fugit ipsum animi
                    culpa consequatur magnam? Eligendi, Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Numquam illum, cum ab, praesentium blanditiis sunt temporibus odio aperiam recusandae doloribus odit
                    placeat repellendus, voluptatibus harum nulla optio doloremque eveniet.<a class="text-blue-700"
                        href="#">...more</a></p>
            </div>
            <div class="content text-2xl text-black w-96 h-96 mt-10 flex-col justify-center bg-white rounded-md">
                <h2 class="flex justify-center font-serif hover:underline cursor-pointer text-red-600 font-bold italic">
                    Linkset
                </h2>
                <p class="text-lg py-6 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
                    enim beatae
                    nemo officiis,
                    veritatis repudiandae doloremque obcaecati minus libero delectus, suscipit a, fugit ipsum animi
                    culpa consequatur magnam? Eligendi, Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Numquam illum, cum ab, praesentium blanditiis sunt temporibus odio aperiam recusandae doloribus odit
                    placeat repellendus, voluptatibus harum nulla optio doloremque eveniet.<a class="text-blue-700"
                        href="#">...more</a></p>
            </div>
            <div class="content text-2xl text-black w-96 h-96 mt-10 flex-col justify-center bg-white rounded-md">
                <h2 class="flex justify-center font-serif hover:underline cursor-pointer text-red-600 font-bold italic">
                    Tree
                </h2>
                <p class="text-lg py-6 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
                    enim beatae
                    nemo officiis,
                    veritatis repudiandae doloremque obcaecati minus libero delectus, suscipit a, fugit ipsum animi
                    culpa consequatur magnam? Eligendi, Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Numquam illum, cum ab, praesentium sunt temporibus odio aperiam recusandae doloribus odit
                    placeat repellendus, voluptatibus harum nulla optio doloremque eveniet.<a class="text-blue-700"
                        href="#">...more</a></p>
            </div>
        </div>
    </div>
</body>

</html>
