<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Sign Up</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="register-body">
    <video class="background-video h-auto " muted loop autoplay plays-inline>
        <source src="/static/ALGOVisualizer.mp4" type="video/mp4">
    </video>
    <div class="flex justify-center items-center">
        <div class="register flex-col h-screen">
            {% if messages %}
            <div class="flex justify-center mt-2">
                {% for message in messages %}
                <div
                    class="alert alert-{{ message.tags }} text-white bg-red-800 text-center h-10 py-2 font-serif text-md w-52 rounded-xl">
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            {% endif %}
            <div class="flex justify-center mt-3">
                <div class="registerdiv my-8 rounded-3xl">
                    <h1 class="text-white text-center text-4xl my-5 font-serif headings">Welcome to AlgoVisualizer
                    </h1>
                    <h2 class="text-white text-center text-4xl font-serif font-bold headings">Sign Up</h2>
                    <form method="post" enctype="multipart/form-data" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="registerinput mx-32 my-3">
                            <div class="flex w-[30rem] name-div">
                                <input class="text-white namediv my-2 h-12 w-[12rem] border-white border-2 px-2 input rounded-xl"
                                    type="text" name="first_name" placeholder="First Name*" required>
                                <input
                                    class="text-white namediv my-2 h-12 w-[11.4rem] border-white border-2 px-2 input rounded-xl mx-2"
                                    type="text" name="last_name" placeholder="Last Name*" required>
                            </div>
                            <input class="text-white my-2 h-12 w-96 border-white border-2 px-2 input other-inputs rounded-xl"
                                type="text" name="username" placeholder="Username*" required>
                            <input class="text-white my-2 h-12 w-96 border-white border-2 px-2 input other-inputs rounded-xl"
                                type="email" name="email" placeholder="E-mail address*" required>
                            <input class="text-white my-2 h-12 w-96 border-white border-2 px-2 input other-inputs rounded-xl"
                                type="password" name="password" placeholder="Password*" required>
                            <input class="text-white my-2 h-12 w-96 border-white border-2 px-2 input other-inputs rounded-xl"
                                type="password" name="confirm_password" placeholder="Confirm Password*" required>
                                <br>
                            <label class="text-white my-2 h-12 w-96 px-2 rounded-xl" for="profile_photo">
                                Add Profile Photo (optional)
                                <br>
                                <input class="text-white my-2 px-2" type="file" name="profile_photo">
                            </label>
                        </div>
                        <button class="h-12 w-96 registerbtn bg-red-700 mx-32 rounded-3xl text-white hover:bg-red-900"
                            type="submit">
                            Sign Up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>