{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Stack Visualizer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .word-wrap {
            word-wrap: break-word;
            white-space: normal;
            text-align: justify;
        }
    </style>
</head>

<body class="stack-body">
    <video class="background-video h-auto " muted loop autoplay plays-inline>
        <source src="/static/ALGOVisualizer.mp4" type="video/mp4">
    </video>
    <nav class="flex items-center justify-between px-2 h-12 fixed top-0 w-full">
        <a class="flex text-xl font-serif text-white italic" href="home">AlgoVisualizer</a>
        <div class="relative cursor-pointer" id="dropdownButton">
            <div onclick="toggleDropdown()" class="flex text-white ml-40">
                {% if profile_photo_base64 %}
                <img class="h-10 w-10 rounded-full" src="data:image/jpeg;base64,{{ profile_photo_base64 }}" 
                    alt="Profile Photo">
                {% else %}
                <img src="/static/profile.png" class="h-10 rounded-full" alt="default Profile Photo">
                {% endif %}
            </div>
            <div id="dropdown" class="dropdown rounded-xl border-2 border-red-900 absolute mt-1 mr-40 hidden">
                <div class="hover:bg-red-900 font-serif text-md w-44 p-3 text-white rounded-xl">
                    <a class="p-3 w-44" href="{% if user.is_authenticated %}/profile{% else %}/{% endif %}"> Your Profile</a>
                </div>
                <div class="hover:bg-red-900 font-serif text-md w-44 p-3 text-white rounded-xl">
                    <a class="p-3 w-44" href="login">Sign In / Sign Up</a>
                </div>
                <div class="hover:bg-red-900 font-serif text-md w-44 p-3 text-white rounded-xl">
                    <a class="p-3 w-44" href="about">Contact Us</a>
                </div>
                <div class="hover:bg-red-900 font-serif text-md w-44 p-3 text-white rounded-xl">
                    <a class="p-3 w-44" href="chatlobby">Chat</a>
                </div>
            </div>
        </div>
    </nav> 
    <div class="stack flex justify-between mt-14">
        <div class="word-wrap">
            <h1 class="text-white font-serif text-5xl mt-3 ml-5">{% trans "Stack" %}</h1>
            <p class="w-[400px] text-white p-3 mt-3 ml-3">
                {% blocktrans %}
                A stack is a type of data structure that follows the "Last In, First Out" (LIFO) principle. 
                This means that the last element added to the stack is the first one to be removed. You can think of a stack like a stack of plates. 
                When you add a new plate, you place it on top. To remove a plate, you take the one from the top. The same concept applies to a stack in computer science.
                
                A stack is used in many computer programs and algorithms. For example, in web browsers, the "back" button uses a stack to remember the pages you've visited. 
                When you press the back button, the browser pops the last page from the stack and shows it.
                {% endblocktrans %}
            </p>            
        </div>
        <div>
            <form method="POST" action=".">
                {% csrf_token %}
                <div>
                    <input type="number" name="value" placeholder="Enter a value"
                        class="h-12 w-80 rounded-xl stackinput p-2 mt-10 text-white font-serif border-0 focus:border-none focus:ring-0 focus:outline-none">
                    <div class="flex justify-between mt-5 px-2">
                        <button type="submit" name="operation" value="push"
                            class="h-12 w-20 bg-red-700 rounded-xl text-white font-serif hover:bg-red-900">Push</button>
                        <button type="submit" name="operation" value="pop"
                            class="h-12 w-20 bg-red-700 rounded-xl text-white font-serif hover:bg-red-900">Pop</button>
                        <button type="submit" name="operation" value="top"
                            class="h-12 w-20 bg-red-700 rounded-xl text-white font-serif hover:bg-red-900">Top</button>
                    </div>
                </div>
            </form>
            <div class="flex flex-col justify-center mt-5 items-center">
                <!-- Display messages -->
                {% if messages %}
                <div
                    class="border-2 border-white h-10 w-auto px-2 flex justify-center items-center text-white bg-red-800 font-serif rounded-2xl">
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="h-[350px] w-32 stack-container mt-10 flex flex-col items-center">
                    {% for item in stack %}
                    <div
                        class="h-12 w-28 border-2 border-white stack-item text-center text-white text-2xl font-serif my-2 rounded-xl">
                        {{ item }}
                    </div>
                    {% endfor %}
                </div>

                {% if top %}
                <p class="text-white text-xl mt-5">Top element: {{ top }}</p>
                {% endif %}
            </div>
        </div>
        <div class="h-[500px] w-80">
        </div>
    </div>
    <script>
        function toggleDropdown() {
            const dropdown = document.querySelector('#dropdown');
            dropdown.classList.toggle('hidden');
        }
    
        // Close the dropdown if clicked outside
        document.addEventListener('click', function (event) {
            const dropdown = document.querySelector('#dropdown');
            const dropdownButton = document.querySelector('#dropdownButton');
    
            // Check if the click is outside the dropdown and the button
            if (!dropdownButton.contains(event.target)) {
                dropdown.classList.add('hidden');
            }
        });
    
        // Hide the dropdown when the page is unloaded (redirected or refreshed)
        window.addEventListener('beforeunload', function () {
            const dropdown = document.querySelector('#dropdown');
            dropdown.classList.add('hidden');
        });
    </script>
</body>

</html>